<div class="container">

    <h1>{{titulo}} </h1>
    
    <button type="button" class="btn btn-primary" (click)="goToDolar()">Ir a Dolar $</button>
    <button type="button" class="btn btn-primary" (click)="goToEuro()">Ir a Euro €</button>
    <button type="button" class="btn btn-primary" (click)="goToTMC()">Ir a TMC</button>
    <button type="button" class="btn btn-primary" (click)="goToUf()">Ir a UF</button>
    <button type="button" class="btn btn-primary" (click)="goToIPC()">Ir a IPC</button>
    

    
   
    <div *ngIf="utmData.length > 0; else noData">
        <h2>Datos de UTM:</h2>
        <ul>
            <li *ngFor="let utm of utmData">
                Fecha: {{ utm.Fecha }} - Valor: {{ utm.Valor }}
            </li>
        </ul>
    </div>
    
    <ng-template #noData>
        <p>No se encontraron datos.</p>
    </ng-template>
    
</div>