<div class="container">

    <h1>{{titulo}} </h1>
    
    <button type="button" class="btn btn-primary" (click)="goToDolar()">Ir a Dolar $</button>
    <button type="button" class="btn btn-primary" (click)="goToEuro()">Ir a Euro €</button>
    <button type="button" class="btn btn-primary" (click)="goToTMC()">Ir a TMC</button>
    <button type="button" class="btn btn-primary" (click)="goToUf()">Ir a UF</button>
    <button type="button" class="btn btn-primary" (click)="goToIPC()">Ir a IPC</button>
    <button type="button" class="btn btn-primary" (click)="goToUTM()">Ir a UTM</button>
    

    

    <ng-template #noData>
        <p>No se encontraron datos.</p>
    </ng-template>
    
</div>