<div class="container">

    <h1 class="mb-4">{{titulo}}</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        <div class="col mb-4">
            <div class="card">
                <div class="card-header bg-primary"></div>
                <div class="card-body">
                    <h2 class="card-title">{{tituloCardDolar}} </h2>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" (click)="goToDolar()">
                            Revisar valores diarios
                        </button>
                    </div>
                </div> <!-- fin card-body -->
            </div> <!-- fin card -->
        </div> <!-- fin col -->
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary"></div>
                <div class="card-body">
                    <h2 class="card-title">{{tituloCardEuro}} </h2>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary" (click)="goToEuro()">
                            Revisar valores diarios
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-success"></div>
                <div class="card-body">
                    <h2 class="card-title">{{tituloCardIPC}} </h2>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-success" (click)="goToIPC()">
                            Revisar valores mensuales
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-danger"></div>
                <div class="card-body">
                    <h2 class="card-title">{{tituloCardTMC}} </h2>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger" (click)="goToTMC()">
                            Revisar valores diarios
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-info"></div>
                <div class="card-body">
                    <h2 class="card-title">{{tituloCardUF}} </h2>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-info" (click)="goToTMC()">
                            Revisar valores diarios
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-warning"></div>
                <div class="card-body">
                    <h2 class="card-title">{{tituloCardUTM}} </h2>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-warning" (click)="goToUTM()">
                            Revisar valores diarios
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>