.table-responsive{
    margin: 2rem 6rem !important;
}
.mat-mdc-row {
    height: 2rem;
}
.mat-mdc-header-row{
    height: 3rem;
    font-size: 1.2rem;
}
.mat-mdc-header-cell{
    border: 1px solid white;
}